/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
  font-family: 'Oswald', sans-serif;
  /*font-family: 'Red Hat Display', sans-serif;*/
  color: var(--black);

}

:root {
  --dark-grey: #66768a;
  --light-grey: #dbdfe2;
  --dark-blue: #161f2a;
  --address-grey: #5b697c;
  --button: #979797;
  --black: #1a232e;

}

img {

  width: 40%;
}


/******************************************
/* LAYOUT
/*******************************************/
header,
section.main {
  border: 1px solid var(--dark-grey);
}


.left {
  float: left;
  width: 50%;
}

.right {
  float: right;
  width: 50%;
}

.left-footer {
  float: left;
  width: 78%;

}

.right-footer {
  float: right;
  width: 20%;
}


.legal {
  clear: both;
}

/*header>nav>ul>div {
  float: left;
  width: 33.33%;

}*/

section.main {
  clear: both;
}

nav {
  overflow: auto;
  overflow: hidden;
}


/*ADDED*/

.one {
  border: 1px solid var(--dark-grey);
  width: 35%;
  float: left;

}

.two {
  border: 1px solid var(--dark-grey);
  width: 35%;
  float: left;
}


.three {
  border: 1px solid var(--dark-grey);
  width: 30%;
  float: left;

}

nav {
  margin-right: 0%;
}

/******************************************
/* Common STYLES
/*******************************************/

header,
section.main,
header>nav>ul>div {
  background: var(--dark-grey);
}

.btn {
  border: 1px solid var(--button);
}

section.thirdsection {
  background-color: var(--light-grey);
}

.sub-content {

  font-family: 'Red Hat Display', sans-serif;
}

.titlep {
  text-transform: uppercase;
}

footer {
  background-color: var(--dark-blue);
}

.extrainfo {
  color: var(--dark-grey);
}

.info {
  text-transform: capitalize;
}

a {
  list-style-type: none;
  text-decoration: none;
}

footer,
footer a {
  color: #fff;
}

.sub-content {
  font-family: 'Red Hat Display', sans-serif;
}

/******************************************
/* NAV STYLES
/*******************************************/

div a {
  color: #fff;
}




header>nav>ul>div>li {
  list-style-type: none;
  text-decoration: none;
  display: inline-block;
  border: 1px solid var(--dark-grey);
  margin-top: 30px;
  font-size: 20px;
} 

.LogoLG {
  width: 22%;
  position: relative;
  left: 40%;
  bottom: 40px;
}


.spacing {
  margin-left: 30px;

}


header>nav>ul>div+div+div>li.btn-donation>a {
  position: absolute;
  left: 90%;
  border: 1px solid #fff;
  color: var(--dark-grey);
  background-color: #fff;
  border-radius: 3px;
  padding: 7px;
  margin-left:0%;
  top: 45px;

}





/******************************************
/* SECTION MAIN STYLES
/*******************************************/

section.main a {
  color: #fff;

}

section.main {
  /*height: 500px;*/
  color: #fff;
}

h1 {
  font-size: 5rem;
  text-align: center;
  margin-top: 25px;
  margin-bottom: 70px;
}

section.main p {
  font-size: 1.5rem;
  width: 63%;
  margin: 0 auto;
  text-align: center;
}

section.main>a>span {
  display: block;
  text-align: center;
  margin-top: 100px;
  font-size: 1.8rem;
  margin-bottom: 160px;
}


/******************************************
/* SECTION 2 STYLES
/*******************************************/
section.secondsection {
  height: 330px;
}

h2 {
  font-size: 3rem;
  text-align: center;
  margin: 50px auto;
}

.secondsection p {
  width: 585px;
  font-size: 1.2rem;
  margin: 0 auto;
  text-align: center;

}

/******************************************
/* SECTION 3 STYLES
/*******************************************/
.thirdsection {
  height: 600px;
}

img.placeholder {
  display: block;
  /*margin-left:auto;
  margin-right: auto;*/
  margin: 50px auto;
}

h3 {
  text-align: center;
  font-size: 1.8rem;
}

.thirdsection p,
.thirdsection p {
  font-size: 1.2rem;
  text-align: center;
  width: 500px;
  margin: 0 auto;
}

.thirdsection span {
  display: inline-block;
  margin: 60px 40%;
  font-size: 1.2rem;
  border: 1px solid var(--black);
  padding: 20px;
}



span.btn-positioning {
  margin: 60px 42%;
  padding-left: 25px;
  padding-right: 25px;
}

/******************************************
/* SECTION 4 STYLES
/*******************************************/

section.fourthsection {
  clear: both;
  height: 455px;

}

.fourthsection p {
  width: 585px;
  font-size: 1.2rem;
  margin: 0 auto;
  text-align: center;

}

.fourthsection h2 {
  margin: 50px 0;

}

.fourthsection span {
  display: inline-block;
  margin: 60px 45%;
  font-size: 1.2rem;
  border: 1px solid var(--black);
  padding: 20px;

}

/******************************************
/* FOOTER
/*******************************************/
.legal {
  border-top: 2px solid #fff;
  overflow: auto;
  overflow: hidden;
}

.legal img {
  width: 5%;
  position: absolute;
  top: 3px;
  right: 1%;
}

.legal p {
  margin-left: 2%;

}

div.legal {
  position: relative;
}

.icon {
  display: inline-block;
}

.left-footer i {
  font-size:1.5rem;
}

h6 {
  font-size: 1rem;
  margin: 20px 0;
  letter-spacing: 2px;
}

section.left-footer {
  margin-top: 2%;
  margin-left: 2%;
}

section.right-footer {
  margin-top:0;
}

span.style {
  display: inline-block;
  margin-bottom: 30px;
}

.margin {
  margin-left: 30px;
}

section.right-footer p{
  line-height: 2;
  font-weight: 300;

}

section.right-footer p > a{
  font-weight: 400;

}

h5 {
  font-size: 1rem;
}